.menu{
  width: 100%;

}
.categories > h3{
  text-align: right;
  margin-right: 30px;
}

button{
  height: 60px;
  width: 90px;
}

.categories > button{
  text-align: left;
  margin-left: 30px;
}

.addOverview{
  visibility: hidden;
  margin-left: 300px;
  border-style: solid;
  width: 1200px;
  height: 700px;
  position: absolute;
}
